<?xml version='1.0' encoding='utf-8'?>
<widget id="com.towerhousestudio.camaraceleste" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<preference name="orientation" value="portrait" />
	<preference name="phonegap-version" value="3.4.0" />
    <name>CamaraCeleste</name>
    <description>
        Camara Celeste
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        AppLoad
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:plugin name="org.apache.cordova.file-transfer"/>
    <gap:plugin name="org.apache.cordova.inappbrowser"/>
    <gap:plugin name="org.apache.cordova.media-capture"/>
</widget>
